# Python
__pycache__/
*.pyc
*.pyd
*.pyo

# Virtual environment
venv/
env/
titanic_env/

# Jupyter Notebook
.ipynb_checkpoints/

# IDEs and editors
.vscode/
.idea/

# Distribution and build artifacts
dist/
build/
*.egg-info/
.eggs/

# Logs and temporary files
*.log
*.temp
*.tmp
*~
.#*

# Test artifacts
.pytest_cache/
.coverage
